
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8 p-3">
            <h2 class="h2 text-center">My Account</h2>

            <div id="user-table-myaccount" class="row">
                <div class="col"></div>
                <div class="col-5 text-center">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Username</td>
                            <td>{{user.username}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

</body>
</html>